# =====================
# .NET
# =====================
bin/
obj/
.vs/

# =====================
# SQLite
# =====================
*.db

# =====================
# Archivos de usuario
# =====================
*.user
*.suo

# =====================
# Logs
# =====================
*.log
